<!DOCTYPE html>
<html>
<head>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
</head>
<body>
    <canvas id='canvas' style="border:1px solid grey;"></canvas>
    <br>
    <span id="x1"></span><span id="y1"></span>
    <br>
    <span id="over"></span>
    <br>
    <span id="hit"></span>
<script>
    var canvasWidth = 500;
    var canvasHeight = 200;

    var buttons = [
        createRandomButtonData(1),
        createRandomButtonData(2),
        createRandomButtonData(3)
    ];

    var canvas = document.getElementById('canvas');
    canvas.width = canvasWidth;
    canvas.height = canvasHeight;
    overButton = false;
    var canvasCoords = canvas.getBoundingClientRect();
    var context = canvas.getContext('2d');

    function createRandomButtonData(id) {
        return {
            x: r(canvasWidth) - 70,
            y: r(canvasHeight) - 30,
            width: 70,
            height: 30,
            text: 'Go #' + id
        }
    }

    canvas.addEventListener('mousemove', function(event) {
        console.log(event.clientX);
        x = event.clientX - canvasCoords.left;
        y = event.clientY - canvasCoords.top;
        $('#x1').html('Coords: ' + y + ',');
        $('#y1').html(y);
        overButton = false;
        for (i=0;i<buttons.length;i++)
        if (x > buttons[i].x && x < (buttons[i].x + buttons[i].width) &&
            y > buttons[i].y && y < (buttons[i].y + buttons[i].height)) {
            overButton = i+1;
        }
        $('#over').html("Over button: "+overButton);
    });

    canvas.addEventListener('mousedown', function(event) {
        console.log(event.clientX);
        hit = false;
        if (overButton) {
            hit=true;
            alert('Clicked on canvas button #'+overButton);
        }
        $('#hit').html('Clicked on button: '+hit);
    });

    function plotPixel(x,y,r,g,b) {
        context.fillStyle = createFillStyle(r,g,b,255);
        context.fillRect( x, y, 1, 1 );
    }

    function r(max) {
        return Math.random() * max;
    }

    function createFillStyle(r, g, b, a) {
        return 'rgba('+r+','+g+','+b+','+a+')';
    }

    function hLine(fromX, fromY, width, thickness, r, b, g, a) {
        context.fillStyle = createFillStyle(r,b,g,a);
        context.fillRect(fromX, fromY, width, thickness);
    }

    function vLine(fromX, fromY, height, thickness, r, b, g, a) {
        context.fillStyle = createFillStyle(r,b,g,a);
        context.fillRect(fromX, fromY, thickness, height);
    }

    function createButton(button) {
        border = 1;
        fontSize = 12;
        textHangCorrection = 0.8;
        hLine(button.x,button.y,button.width,border,240,240,255,255);
        vLine(button.x,button.y,button.height, border,200,200,220,255);
        hLine(button.x, button.y+button.height-1, button.width, border, 100,100,120,255);
        vLine(button.x+button.width-1, button.y, button.height, border, 100,100,120,255);
        context.fillStyle = createFillStyle(200,200,220,255);
        context.fillRect(button.x+border, button.y+border, button.width-(border*2), button.height-(border*2));
        context.fillStyle = createFillStyle(20,20,20,255);
        context.font = ""+fontSize+"px Times";
        var textMetrics = context.measureText(button.text);
        context.fillText(button.text, button.x  + ((button.width - textMetrics.width)/2),button.y+(fontSize * textHangCorrection) + ((button.height-fontSize)/2));
    }

    function drawCanvasBackground() {
        for (x=0;x<canvasWidth;x++)
            for (y=0;y<canvasHeight;y++)
                plotPixel(x,y,x,x-y,y);
    }

    drawCanvasBackground();
    for (i=0;i<buttons.length;i++)
        createButton(buttons[i]);

</script>
</body>
</html>