<!DOCTYPE html>
<html>
<head>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
</head>
<body>
    <canvas id='canvas' style="border:1px solid grey;"></canvas>
    <div><span id="x"></span><span id="y"></span></div>
    <div id="over"></div>
    <div id="hit"></div>
<script>
    // Initialize everything
    var canvasWidth = 500;
    var canvasHeight = 300;
    var numberOfButtons = 5;
    var canvas = document.getElementById('canvas');
    var canvasCoords = canvas.getBoundingClientRect();
    var context = canvas.getContext('2d');
    var buttons = [];
    var overButton = false;
    var noButton = -1;

    canvas.width = canvasWidth;
    canvas.height = canvasHeight;

    for (i=0;i<numberOfButtons;i++) {
        buttons[i] = createRandomButtonData(i);
    }

    // Draw the background
    drawCanvasBackground();

    // Draw the buttons
    for (i=0;i<buttons.length;i++)
        createButton(buttons[i]);

    // A color object
    function Color(r, g, b, a) {
        this.r = r;
        this.g = g;
        this.b = b;
        this.a = a;
    }

    canvas.addEventListener('mousemove', function(event) {
        console.log(event.clientX);
        x = event.clientX - canvasCoords.left;
        y = event.clientY - canvasCoords.top;
        $('#x').html('Coords: ' + y + ',');
        $('#y').html(y);
        overButton = noButton;
        for (i=0;i<buttons.length;i++)
        if (x > buttons[i].x && x < (buttons[i].x + buttons[i].width) &&
            y > buttons[i].y && y < (buttons[i].y + buttons[i].height)) {
            overButton = i;
        }

        if (overButton >= 0)
            $('#over').html("Over button: "+overButton);
        else
            $('#over').html("Over button: -");
    });

    canvas.addEventListener('mousedown', function(event) {
        console.log(event.clientX);
        hit = false;
        if (overButton >= 0) {
            hit=true;
            alert('Clicked on canvas button #'+overButton);
        }
        $('#hit').html('Clicked on button: '+hit);
    });

    function plotPixel(x,y,r,g,b) {
        context.fillStyle = createFillStyle(new Color(r, g, b, 255));
        context.fillRect( x, y, 1, 1 );
    }

    // A code shortener function
    function r(max) {
        return Math.random() * max;
    }

    // Parse a color into a Canvas fillStyle
    function createFillStyle(color) {
        return 'rgba('+color.r+','+color.g+','+color.b+','+color.a+')';
    }

    function hLine(fromX, fromY, width, thickness, color) {
        context.fillStyle = createFillStyle(color);
        context.fillRect(fromX, fromY, width, thickness);
    }

    function vLine(fromX, fromY, height, thickness, color) {
        context.fillStyle = createFillStyle(color);
        context.fillRect(fromX, fromY, thickness, height);
    }

    // Draw a button
    function createButton(button) {
        var border = 1;
        var textHangCorrection = 0.8;
        var textMetrics = context.measureText(button.text);

        hLine(button.x,button.y,button.width,border,button.lightBorderColor);
        vLine(button.x,button.y,button.height, border,button.lightBorderColor);
        hLine(button.x, button.y+button.height-1, button.width, border, button.darkBorderColor);
        vLine(button.x+button.width-1, button.y, button.height, border, button.darkBorderColor);
        context.fillStyle = createFillStyle(button.backgroundColor);
        context.fillRect(button.x+border, button.y+border, button.width-(border*2), button.height-(border*2));
        context.fillStyle = createFillStyle(button.textColor);
        context.font = button.font;
        context.fillText(button.text, button.x  + ((button.width - textMetrics.width)/2),button.y+(button.fontSize * textHangCorrection) + ((button.height-button.fontSize)/2));
    }

    // A HTML5 Button object
    function Button() {
        this.lightBorderColor = new Color(240,240,255,255);
        this.darkBorderColor = new Color(100,100,120,255);
        this.textColor = new Color(20,20,20,255);
        this.backgroundColor = new Color(200,200,220,255);
        this.width = 70;
        this.height = 30;
        this.fontSize = 12;
        this.font = "" + this.fontSize + "px Times";
    }

    function createRandomButtonData(id) {
        var button = new Button();
        button.x = r(canvasWidth - button.width);
        button.y = r(canvasHeight - button.height);
        button.text = 'Go #' + id;
        return button;
    }

    // Draw a gradient background
    function drawCanvasBackground() {
        for (x=0;x<canvasWidth;x++)
            for (y=0;y<canvasHeight;y++)
                plotPixel(x,y,y+i,y-x,x-y);
    }

</script>
</body>
</html>